{% extends 'base.html' %}
{% load static %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock  %}
{% block title %}Home{% endblock  %}
{% block body %}
<div class="mulclass">
	{% if request.user.is_superuser %}
    <div class="side_bar ">
        <div class="accordion accordion-flush" id="accordionFlushExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingOne">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
				Student List
			</button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
			
			</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
				Teacher List
			</button>
			</h2>
			<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
			
			</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingThree">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
				Accordion Item #3
			</button>
			</h2>
			<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
			
			</div>
			</div>
		</div>
		</div>
    </div>
	
	<div class="main">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			</ul>
			<form method="POST" action="{% url 'studentsearch' %}" class="d-flex">
				{% csrf_token %}
				<select name='Session' class="form-select select" aria-label="Default select example">
					<option selected>Select Session</option>
					{% for i in Session %}
						<option>{{i}}</option>
					{% endfor %}
				</select>
				
				<select name='Department' class="form-select select" aria-label="Default select example">
					<option selected>Select Department</option>
					{% for i in Department %}
						<option>{{i}}</option>
					{% endfor %}
				</select>

				<select name='Group' class="form-select select" aria-label="Default select example">
				<option selected>Select Group</option>
				<option>A</option>
				<option>B</option>
				<option>C</option>
				</select>

				<input name="Collageid" type="text" placeholder="Student Collage ID" class="form-control select" id="exampleInputEmail1" aria-describedby="emailHelp" style="width: 160PX;">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
			</div>
		</div>
		</nav>

		<div>
		
		<div class="accordion accordion-flush" id="accordionFlushExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingOne">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
				Student List
			</button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
			<form method="POST" action="{% url 'studentsearchpro' %}" class="d-flex">
			{% csrf_token %}
				<table class="table table-dark table-striped" style="width:50%;display:inline-block;">
					
					<tr>
						<td>Student Name</td>
						<td>
							<div class="form-check form-switch">
								<input name="studentname" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td>Student Phone Number</td>
						<td>
							<div class="form-check form-switch">
								<input name="student_phone" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td>Father Nmae</td>
						<td>
							<div class="form-check form-switch">
								<input name="fathername" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td>Father Phone Number</td>
						<td>
							<div class="form-check form-switch">
								<input name="father_phone" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td>Mother Name</td>
						<td>
							<div class="form-check form-switch">
								<input name="mother_name" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td>Mother Phone Number</td>
						<td>
							<div class="form-check form-switch">
								<input name="mother_phone" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							</div>
						</td>
					</tr>

				</table>
			<button type="submit">Submit</button>
			</form>
			</div>
			</div>
		</div>


		</div>

		<!--Graph-->
		<div id="piechart"></div>
	</div>
	{% endif %}
	{% if student %}
	<div class="Student_index">
		<div class="card text-dark bg-light mb-3" style="height:120px; width:300px;">
		<div class="card-header">Tuiton Fee</div>
		<div class="card-body">
			<h3 class="card-title">{{request.user.userstudent.TUTION_FEE}}</h3>
		</div>
		</div>
		<div class="card text-dark bg-light mb-3" style="height:120px; width:300px;">
		<div class="card-header">Semister Fee</div>
		<div class="card-body">
			<h3 class="card-title">{{request.user.userstudent.SEMISTER_FEE}}</h3>
		</div>
		</div>
		<div class="card text-dark bg-light mb-3" style="height:120px; width:300px;">
		<div class="card-header">Total Concract</div>
		<div class="card-body">
			<h3 class="card-title">{{request.user.userstudent.TOTAL_CONCRACT}}</h3>
		</div>
		</div>
	</div>
	<div class="Student_index">
		<div class="card text-dark bg-light mb-3" style="height:120px; width:300px;">
		<div class="card-header">Total Due</div>
		<div class="card-body">
			<h3 class="card-title">{{request.user.userstudent.Due}}</h3>
		</div>
		</div>
		<div class="card text-dark bg-light mb-3" style="height:120px; width:300px;">
		<div class="card-header">Total Paid</div>
		<div class="card-body">
			<h3 class="card-title">{{request.user.userstudent.Paid}}</h3>
		</div>
		</div>
		<div class="card text-dark bg-light mb-3" style="height:120px; width:300px;">
		<div class="card-header">Total Concract</div>
		<div class="card-body">
			<h3 class="card-title"></h3>
		</div>
		</div>
	</div>
	{% endif %}
	
</div>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);
// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Confirm Student', {{confirm}}],
  ['Out', 1],
  ['Admit Student', {{addmition}}],
]);

// Optional; add a title and set the width and height of the chart
var options = {'title':'Student Status Ratio', 'width':400, 'height':400};
 // Display the chart inside the <div> element with id="piechart"
var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>
{% endblock  %}